* {
    margin: 0px;
    padding: 0px;
}


/* mobile */


@media (max-width:576px) {
    .web-slider {
        display: none;
    }

    .mob-slider {
        display: block;
    }

    .banner {
        width: 100%;
        height: auto !important;
        background-image: url(../img/banner/hero-mob.png);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .img-fluid {
        max-width: 150px;
    }
    .right-box{
        margin: 70px 0px;
    }
    .right{
        margin-top: 20px !important;
    }
    .left{
        display: flex;
        justify-content: center;
    }
}

@media (min-width:576px) {
    .web-slider {
        display: block;
    }

    .mob-slider {
        display: none;
    }

    .mdd {
        padding-top: -100px !important;
    }
}

/* desktop */

@font-face {
    font-family: ita;
    src: url(../bootstrap_css_jsp/Italianno-Regular-OTF.otf);
}

.ita {
    font-size: 70px;
    font-family: ita;
}

.itaa {
    font-weight: 600 !important;
}

dd {
    float: left;
    padding-left: 0px !important;
}

dt {
    float: left;
    margin: 10px 30px;
}

dl {
    overflow: auto;
    display: inline-block;
    width: 300px;
}


body {
    /* background-color: #7dd576; */
    background-image: linear-gradient(-100deg, white 50%, #7dd576 50%);
    /* background-attachment: fixed; */
}

.main {
    background-color: white;
}

.text-justify {
    text-align: center;
    text-align-last: center;
}

i {
    font-size: 30px;
}

.divider {
    width: 500px !important;
}

/* Navbar */
.navbar {
    background-color: #23600b78;
}

.nav-link {
    padding: 20px !important;
    color: #d8f7c2 !important;
    font-weight: 600;
    font-size: 15px;
    /* text-shadow: 1px 1px 5px black; */
}

.logo {
    width: 70px;
}

/* Banner */
.banner {
    width: 100%;
    height: auto !important;
    background-image: url(../img/banner/hero.png);
    background-size: contain;
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
}

/* menu */
.menu-txthead {
    font-size: 20px;
    font-weight: 600;
}

/* slider */
.plate {
    width: 200px !important;
    height: 200px !important;
}

/* endure */
.endure {
    height: 500px;
    width: 100%;
    background-image: url(../img/003-1.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center center;
}

/* spoons */
.spoon-right {
    height: 500px;
    width: 100%;
    background-image: url(../img/spoons.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center center;
}

/* subscribe */
.greenn {
    background-color: #35912240;
}

.tt {
    max-width: 400px;
}

.bg-success {
    background-color: #459122DE !important;
    color: white;
}

/* footer */
.Last-footer {
    background-color: #459122DE;
}

.footer-links {
    font-size: 20px !important;
    /* padding: 0px 0px !important; */
    color: #1dfa0e;
    text-shadow: 5px 2px 5px black;
    text-decoration: none;
}


/* Reservations */

.reservation-itallian-h3{
    font-family: ita;
}
.width{
    width: 30%;
}
.w-75{
    width: 300px !important;
}

/* About */

.about-txt{
    text-align: justify !important;
}
